<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@(ViewData["Title"] != null ? ViewData["Title"] + " - MinhaGuild" : "MinhaGuild")</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class=" px-4 navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Minha Guild</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown5" aria-controls="navbarNavDropdown5" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown5">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><span>Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy"><span>Privacy</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="bg-image">
        <div class="container" style="min-height:1000px">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer">
        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-7">
                        <p>
                            Copyright &copy; Minha Guild
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/moments.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
